@font-face
    font-family HelveticaNeue-CondensedBold
    src url("./../fonts/HelveticaNeue-CondensedBold.otf")
@font-face
    font-family Montserrat-Black
    src url("./../fonts/Montserrat-Black.ttf")
@font-face
    font-family Montserrat-Bold
    src url("./../fonts/Montserrat-Bold.ttf")
@font-face
    font-family Montserrat-Light
    src url("./../fonts/Montserrat-Light.ttf")
@font-face
    font-family Montserrat-Regular
    src url("./../fonts/Montserrat-Regular.ttf")
@font-face
    font-family Proxima-Nova-Black
    src url("./../fonts/Proxima-Nova-Black.otf")
@font-face
    font-family Proxima-Nova-Bold
    src url("./../fonts/Proxima-Nova-Bold.otf")  
@font-face
    font-family Proxima-Nova-Regular
    src url("./../fonts/Proxima-Nova-Regular.otf")                      
    
    
     


