
@import './fonts'
@import './font-image.css'
@import './reset.css'


* 
    margin 0
    padding 0
    box-sizing border-box

body 
    font-size 14px
    font-family Proxima-Nova-Regular
.clearfix:before,.clearfix:after 
    content " "
    display table
    width 0
    height 0
    visibility hidden
.clearfix:after 
    clear both
input {
    -webkit-appearance: none;
}

.container
    width 310px
    margin 0 auto
    padding 0 5px
.header

    width 100%
    height auto
    background-color #1c3051
    border-bottom-style solid
    border-bottom-width 2px  
    border-bottom-color #ff7101
    padding-top 25px
    z-index 10
    padding-bottom 15px
    .header-mob__hide
        display none 
    &__logo
        display block
        float left

    &__cities
        display block
        border-left-color #b5c2d6
        border-left-width 1px
        border-left-style solid 
        float left 
        margin-left 10px
        
    &__city
        display block
        text-transform uppercase
        list-style-type none
        font-family Montserrat-Regular
        font-size 1em
        color #b5c2d6

    &__menu
        display block
        float left
        
        &:first-child
            padding-left 25px
        &:last-child
            padding-right 0
    &__link
        display block
        font-family Montserrat-Regular
        font-size 0.97em
        text-transform uppercase
        list-style-type none
        float left
        padding 14px
        & a
            text-decoration none
            color #ffffff   
            &:hover
                color #ff7101
            &:active
                color #000000
            
    .telephone
        display block

        &__icon
            display block
            float right
            width 24px
              
        &__select
            display block
            float right
            font-family Montserrat-Black
            font-size 1.55em
            background transparent
            color #ffffff
            border none
    .header__content
        .header__mob-icon
            float right
            display block
            width 35px
            height 50px
            cursor pointer
            .header__mob-line
                width 100%
                height 5px
                background #e53b20
                margin-bottom 10px
    .icon-close3:before
        content "\e900"
        color red
        float right
        margin-top 5px
        margin-right 5px

    .header__mobile 
        display block
        min-width 45%
        max-width 100%
        height 100%
        overflow-y auto
        background-position left top
        position fixed
        right -100%
        top 0
        z-index 9999
        -webkit-transition right 0.7s ease-out 0.01s
        -moz-transition right 0.7s ease-out 0.01s
        transition right 0.7s ease-out 0.01s
        background #17294c
        -webkit-box-shadow 0 0 10px 5px rgba(0,0,0,0.4) inset
        -moz-box-shadow 0 0 10px 5px rgba(0,0,0,0.4) inset
        box-shadow 0 0 10px 5px rgba(0,0,0,0.4) inset
    .is-mobile-header
        position fixed
        right 0
        top 0
        .header__mob-wrapper 
            width 100%
            height 100%
            position relative
        .header__mob-content
            .header__mob-cities
                .header__cities
                    float right
                    margin-bottom 10px
                    margin-top 25px
            .header__mob-menu        
                .header__city
                    font-size 1.5em
                .header__menu
                    float none
                .header__link
                    float none
                    font-size 2em
                    &:hover
                        color #ff7101

            .header__mob-telephone  
                .telephone
                    display block
                    width 250px
                    &__icon
                        margin-right 5px
                        float right
                        
                    &__select
                        float left
                        margin-left 34px        
         
.top
    background url('../images/top-bg.png') no-repeat
    width 100%
    .top-left
        width 100%
        float left
        &__title
            display block
            font-family Montserrat-Black
            font-size 4.1em
            text-transform uppercase
            color #ffffff
            text-align center
            padding-bottom 15px
            // width 56.7%
            // height auto
    

        &__text
            font-size 1.5em
            font-family Proxima-Nova-Black
            color #1c3051
            text-transform uppercase
            text-align center
            padding-bottom 15px
         
        &__btn
            display block
            width 266px
            height 66px
            padding-left 76px
            background url("../images/top-button.png") no-repeat 6%
            background-size 16%
            border none
            border-radius 50px
            background-color #ff7101
            line-height 65px
            font-family Montserrat-Black        
            color #ffffff
            font-size 1.4em
            text-decoration none
            margin 0 auto 15px
            &:hover
                background-color #1c3051
                border 2px solid #1c3051
                cursor pointer
                transition 1s
                
    .top-right
        width 37%
        float right
        display none
        &__image
            display block
            height auto
            width 100%
            // float right
    
        
        
.callback
    width 100%
    height auto
    background-color #ff7101
    
    .callback-picture
        width 50%
        float left
        position relative
        display none
        &__image
            display block
           
    .form-title
        width 100%
        margin 15px auto 15px
        &__title
            display block
            font-size 1.5em
            text-transform uppercase
            text-align center
            font-family Proxima-Nova-Bold
            color #ffffff
        &__text
            display block
            font-size 1.5em
            text-transform uppercase
            text-align center
            font-family Proxima-Nova-Regular
            color #ffffff
    .form
        margin 0 auto
        .form-name, .form-telephone
            position   relative
        &__name, &__telephone
            display block
            background transparent
            border-radius 50px
            width 300px
            height 66px
            padding-left 25px
            font-size 1em
            outline none
            border 2px solid #ffffff
            margin 0 auto 15px
            
            &::-webkit-input-placeholder {
                color: #ffffff;
            }
            &:-moz-placeholder {
                color: #ffffff;
            }
            &::-moz-placeholder {
                color: #ffffff;
            }
            &:-ms-input-placeholder {
                color: #ffffff;
            }
            &:focus::-webkit-input-placeholder {color: transparent;}
            &:focus::-moz-placeholder {color: transparent}
            &:focus:-moz-placeholder {color: transparent}
            &:focus:-ms-input-placeholder {color: transparent}

    .btn-send    
        background #ffffff
        display block
        width 300px
        height 66px
        font-size 1em
        border-radius 50px
        border none
        text-transform uppercase
        outline none
        font-family Montserrat-Black
        margin 0 auto 15px
        &:hover
            background-color #1c3051
            border 2px solid #ffffff
            color #ffffff
            cursor pointer
            transition 1s
    label.error
        color red
        position absolute
        margin 5px 
        padding-left 5px
        display block       
h1
    text-transform uppercase
    font-size 2.33em
    color #1c3051
    font-weight 700
    text-align center
    font-family Proxima-Nova-Black
    margin 15px 0 15px
.services
    width 100%
    background-color #ffffff
    position relative
    &__wrap
        border 1px solid #ff7101
    &__title-local
        text-transform uppercase
        font-size 1.5em
        color #1c3051
        padding 0 15px
        background #ffffff
        z-index 5
        text-align center
        position absolute
        margin 0 auto
        left 0
        right 0
        top 56px
        width 30%
     

    &__title-long
        text-transform uppercase
        font-size 1.5em
        color #1c3051
        background #ffffff
        text-align center
        z-index 5
        position absolute
        margin 0 auto
        left 0
        right 0
        top 52%
        width 50%
        


    .services-item
        width 100%
        height auto
        position relative
        .items-local
            display block
            height auto
            width 100%
            &__item
                display block
                width 80%
                margin 20px auto
                &__image
                    width 100%
                &__title
                    text-align center
                    font-size 1em
                    color #1c3051
                    text-transform uppercase
                &:first-child
                    margin-top 60px
        .items-long
            height auto
            width 100%
            display block
            &__item
                display block
                width 80%
                margin 20px auto
                &__title
                    text-align center
                    font-size 1em 
                    color #1c3051
                    text-transform uppercase              
                &__image
                    width 100%
    
              
            
.promotion
    background-color #17294c
    width 100%
    .registration
        display block
        width 100%
        &__title
            display block
            font-family Proxima-Nova-Bold
            font-size 1.5em
            text-transform uppercase
            color #ffffff
            font-weight 700
            text-align center
            margin 15px auto 15px
            
            
        &__text
            display block
            font-family Proxima-Nova-Regular
            color #ffffff
            font-weight 400
            line-height 25.644px
            font-size 1.15em
            text-align center
    .form
        display block
        width 100%
        &__title-form
            display block
            text-transform uppercase
            color #ffffff
            font-size 2.5em
            font-family Proxima-Nova-Black
            margin 15px auto 15px
            text-align center
            
        &__name, &__email, &__phone, &__date, &__zip-from, &__zip-to, &__aunser, &__message, &__select
            display block
            width 100%
            height 50px
            background transparent
            border-radius 50px
            color #ffffff
            padding-left 25px
            outline none
            border 2px solid #ffffff
            margin 5px 0 5px
            &::-webkit-input-placeholder{color: #ffffff;}
            &:-moz-placeholder {color: #ffffff;}
            &::-moz-placeholder {color: #ffffff;}
            &:-ms-input-placeholder {color: #ffffff;}
            &:focus::-webkit-input-placeholder {color: transparent;}
            &:focus::-moz-placeholder {color: transparent}
            &:focus:-moz-placeholder {color: transparent}
            &:focus:-ms-input-placeholder {color: transparent}

        &__select
            margin 20px 0 15px
            & option 
                color #ffffff
                background-color #101e30
        &__message
            border-radius 25px
            height 120px
            padding-top 10px
            font-family Proxima-Nova-Regular
        &__question
            display block
            color #ffffff
            font-size 1em
            font-family Montserrat-Regular
            padding-left 25px
        &__send
            display block
            width 48.8%
            height 50px
            background-color #ff7101
            color #ffffff
            float right
            border-radius 50px
            text-align center
            font-family Montserrat-Black
            outline none
            border none
            text-transform uppercase
            margin 7px auto 15px
            &::-webkit-input-placeholder{color: #ffffff;}
            &:-moz-placeholder {color: #ffffff;}
            &::-moz-placeholder {color: #ffffff;}
            &:-ms-input-placeholder {color: #ffffff;}
            &:focus::-webkit-input-placeholder {color: transparent;}
            &:focus::-moz-placeholder {color: transparent}
            &:focus:-moz-placeholder {color: transparent}
            &:focus:-ms-input-placeholder {color: transparent}
            &:hover
                background-color #ffffff
                border 2px solid #ffffff
                color #ff7101
                cursor pointer
                transition 1s
        label.error
            color red
            padding-left 25px
#map
    width 100%
    height 400px
    background-color grey
    



@media screen and (min-width: 720px) 
    .container
        width 690px
    .header
        .is-mobile-header 
            .header__mob-content 
                .header__mob-cities 
                    display none        
    .services
        width 100%
        margin-bottom 15px
        .services-item
            width 100%
            height auto
            position relative
            .items-local
                display block
                height auto
                width 100%
                margin 0 auto
                &__item
                    width 33%
                    float left
                    padding 10px 
                    &:first-child
                        margin-top 20px
            .items-long
                display block
                height auto
                width 100%
                margin 0 auto
                &__item
                    width 33%
                    float left
                    padding 10px
    .form
        .form-name
            position relative
            float left
        .form-telephone
            float right
            &.error
                float right
        label.error        
            margin 0 0 15px
        &__btn-send        
            margin 0 auto 15px

@media screen and (min-width: 960px) 
    .container
        width 930px
    .form
        width 100%
        margin 0 auto
        display block
        .form-name
            padding-right 10px
        .form-telephone
            float left
            padding-right 10px

        .btn-send
            margin 0 0     
    .header
        .is-mobile-header 
            .header__mob-content 
                .header__mob-cities 
                    display none    
                           
    .top
        .top-left
            width 62%
            &__title
                font-size 5.7em
                text-align left
                padding-top 50px
            &__text
                text-align left
                padding-top 15px
            &__btn
                margin 0 0    
        .top-right
            display block
    .promotion
        .form
            &__message
                margin 10px 0 10px
            .name, .email, .phone, .date, .zip-from, .zip-to, .question, .aunser, .send
                width 48.8%   
                margin 5px 0 5px                     
            .name, .phone, .zip-from, .aunser
                float left
            .email, .date, .zip-to
                float right
            .select
            .message
                margin-top 10px 0 10px    
    
   
    .services__wrap
        display block
        width 100%
        margin 0 auto
        .services-item
            .items-local
                width 75%
                &__item
                    width 33%
                    &:first-child
                        margin-top 20px
            .items-long
                width 75%
                &__item
                    width 33%
                    


@media screen and (min-width: 1200px) 
    .container
        width 1170px

    .header
        .header-mob__hide
            display block
        .header__content
            .header__mob-icon
                display none 
        .header__cities
            padding           
    .top
        .top-left
            padding-top 50px
            &__title
                font-size 6.7em
            &__text
                font-size 2.33em
            &__btn
                margin-top 30px        
    .callback
        height 307px
        position relative
        .callback-picture
            display block
            position absolute
            left -3%
            right 0
            transform translateY(-21.1%) translateX(7%)
        .form-title
            width 825px
            padding-top 50px
            &__title
                padding-left 180px
                font-size 1.22em
                text-align left
                padding-bottom 15px

            &__text
                text-align left
                padding-left 180px
                font-size 1.22em   
        .form
            float right
            width 825px
            margin-top 50px
            .btn-send
                width 196px
    .services
        height 450px
        h1
            padding 50px 0 50px
        
        &__title-long
            left 55%
            right: auto; 
            top: 34%;
            width: 22%;
        &__title-local    
            width: 17%;
            left auto
            top: 34%;
            right: 60%; 
                
        .services-item
            
            .items-local
                margin-left 24px
                width 48%
                float left
            .items-long
                margin-right 22px
                width 48%
                float right            
    
    .promotion
        background url('../images/form-getting-quote-bg.png') no-repeat
        .registration
            width 30%
            float left
            padding-top 25px
            &__title
                text-align left
            &__text
                text-align left
        .form
            float right
            width 60% 
            padding-top 25px
            padding-bottom 25px
           